/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Color Palette*/
  --brand-color: #22C55E;
  --dark-color: #073418;
  --mid-color: #A2DBB7;
  --light-color: #F8FEFA;

  /* Fonts */
  --regualar-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  font-family: var(--regualar-font);
}

/* Removing decoration from all links */
a {
  text-decoration: none;
  color: inherit;
}

/* Removing Styling From Links */
ul,
ol {
  list-style: none;
  overflow: hidden;
}

body {
  background-image: url("Colored\ Patterns\ \(1\).svg");
  /* background-image: url("Colored\ Patterns.svg"); */

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

/* header */
header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--dark-color);
  padding: 8vh 13vw 2vh 13vw;
  margin-bottom: 3vh;
}

nav {
  display: flex;
}

.logo {
  margin-right: auto;
  cursor: default;
  outline: 2px double var(--dark-color);
  padding: 5px;
  font-size: 13px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-tabs {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.nav-tabs li {
  cursor: pointer;
  font-size: 1.3em;
}

.nav-tabs .tel {
  cursor: default;
  display: flex;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    margin: 0;
  }

  nav {
    margin-top: 20px;
    display: flex;
  }
}

.main {
  margin-top: 6vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  background-color: #ffff;
  border-radius: 10px;
  height: 74vh;
  margin: 4vh 13vw;
}

form {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

form input {
  border: none;
  outline: 1px solid gray;
  border-radius: 2px;
  min-height: 6vh;
}

.form-header {
  color: var(--dark-color);
  font-size: 33px;
}

form .name,
.contact,
.date {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

.name input {
  width: 15vw;
  padding-left: 5px;
}

.contact input {
  width: 15vw;
  padding-left: 5px;
}

.date input {
  width: 15vw;
  padding-left: 5px;
}

.service-opt,
.message {
  align-self: flex-start;
}

.service-opt select {
  height: 6vh;
  width: 32vw;
}

.message textarea {
  width: 32vw;
  height: 20vh;
  padding: 10px;
}

form button {
  height: 7vh;
  width: 10vw;
  cursor: pointer;
  background-color: var(--dark-color);
  color: white;
  border: none;
  outline: 1px solid;
}


.submit-btn:hover {
  background-color: #959595;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.socials div a {
  display: flex;
  align-items: center;
}

.socials i {
  margin-right: 5px;
  font-size: 1.8em;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  header {
    height: 2vh;
    font-size: 10px;
    padding: 6vh 6vw;
  }

  nav {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 910px) {
  header {
    height: 2vh;
    font-size: 10px;
    padding: 6vh 6vw;
  }
}

@media only screen and (min-width: 910px) and (max-width: 1270px) {
  .header {
    padding: 0;

  }

  header {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    margin: 0;
  }

  nav {
    margin-top: 20px;
    display: flex;
  }

  .socials {
    margin: 18px 0;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    gap: 20px;
  }

  .name input {
    width: 30vw;
    padding-left: 5px;
  }

  .contact input {
    width: 30vw;
    padding-left: 5px;
  }

  .date input {
    width: 30vw;
    padding-left: 5px;
  }

  .service-opt select {
    height: 6vh;
    width: 63vw;
  }

  .message textarea {
    width: 63vw;
    height: 20vh;
    padding: 10px;
  }

  form button {
    width: 17vw;
  }
}

@media only screen and (max-width: 596px) {
  .form-container {
    margin: 4vh 6vw;
  }

  form button {
    width: 30vw;
  }

  .name input {
    width: 36vw;
    padding-left: 5px;
  }

  .contact input {
    width: 36vw;
    padding-left: 5px;
  }

  .date input {
    width: 36vw;
    padding-left: 5px;
  }

  .service-opt select {
    height: 6vh;
    width: 76vw;
  }

  .message textarea {
    width: 76vw;
    height: 20vh;
    padding: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1019px) {
  .form-container {
    margin: 4vh 6vw;
  }

  .name input {
    width: 36vw;
    padding-left: 5px;
  }

  .contact input {
    width: 36vw;
    padding-left: 5px;
  }

  .date input {
    width: 36vw;
    padding-left: 5px;
  }

  .service-opt select {
    height: 6vh;
    width: 76vw;
  }

  .message textarea {
    width: 76vw;
    height: 20vh;
    padding: 10px;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1368px) {
  .name input {
    width: 18vw;
  }

  .date input {
    width: 18vw;
  }

  .contact input {
    width: 18vw;
  }

  .message textarea {
    width: 38vw;
  }

  .service-opt select {
    width: 38vw;
  }
}