/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Color Palette*/
  --brand-color: #22C55E;
  --dark-color: #073418;
  --mid-color: #A2DBB7;
  --light-color: #F8FEFA;

  /* Fonts */
  --regualar-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  font-family: var(--regualar-font);
}

/* Removing decoration from all links */
a {
  text-decoration: none;
  color: inherit;
}

/* Removing Styling From Links */
ul,
ol {
  list-style: none;
  overflow: hidden;
}


/* hero section */
.hero {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

/* The hero image */
.hero-image {
  background-image: url("Colored\ Patterns\ \(1\).svg");
  /* background-image: url("Colored\ Patterns.svg"); */

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* header */
header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--dark-color);
  padding: 8vh 13vw;
}

nav {
  display: flex;
}

.logo {
  margin-right: auto;
  cursor: default;
  outline: 2px double var(--dark-color);
  padding: 5px;
}

.nav-tabs {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.nav-tabs li {
  cursor: pointer;
  font-size: 1.3em;
}

.nav-tabs .tel {
  cursor: default;
  display: flex;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4vh 13vw;
}


.card {
  width: 90vw;
  height: 69vh;
  border-radius: 4px;
  /* background: #212121; */
  display: flex;
  gap: 5px;
  padding: .4em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  /* background: #212121; */
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p:hover {
  flex: 4;
}

.card p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  /* color: #ff568e; */
  color: var(--dark-color);
  letter-spacing: .1em;
  background-color: var(--light-color);
}

.card p:hover span {
  transform: rotate(0);
}

.card .weddings {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("card-images/wedding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card .corporate {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("card-images/corporate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card .training {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("card-images/training.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card .catering {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("card-images/catering.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.socials div a {
  display: flex;
  align-items: center;
}

.socials i {
  margin-right: 5px;
  font-size: 1.8em;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  header {
    height: 2vh;
    font-size: 10px;
    padding: 6vh 6vw;
  }

  nav {
    display: none;
  }

  .card {
    flex-direction: column;
    height: 80vh;
  }

  .card p span {
    transform: rotate(0);
  }

  .hero-content {
    margin-top: 10px;
    padding: 0 5vw;
  }

  .hero {
    width: 100%;
  }

  .socials {
    margin: 18px 0;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    gap: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 910px) {
  header {
    height: 2vh;
    font-size: 10px;
    padding: 6vh 6vw;
  }

  /* nav {
    display: none;
  } */

  .card {
    flex-direction: column;
    height: 80vh;
  }

  .card p span {
    transform: rotate(0);
  }

  .hero-content {
    margin-top: 10px;
    padding: 0 5vw;
  }

  .hero {
    width: 100%;
  }

  .socials {
    margin: 18px 0;
    align-items: center;
    font-size: 16px;
    gap: 20px;
  }
}

@media only screen and (min-width: 910px) and (max-width: 1270px) {
  .header {
    padding: 0;
  }

  .hero-content {
    margin-top: 3vh;
    padding: 0 5vw;
  }

  .socials {
    margin-top: 6vh;
  }
}


/* Hamburger View  */

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .logo {
    margin: 0;
  }

  nav {
    margin-top: 20px;
    display: flex;
  }
}